@font-face {
    font-family: 'merryweather';
    src: url(../fonts/Merriweather-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'merryweather';
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

}